<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link href="post.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>같이배달</h1>
        <div class="nav">
            <ul>
                <li><a href="post.html">post</a></li>
                <li><a href="board.html">board</a></li>
                <li><a href="home.html">home</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper">
    <img src="/png/maltang.png">
    <li>행복한마라탕 같이시켜요!</li>
</div>
</body>
</html>